* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: $primary_font;
  font-size: 16px;
}
button {
  cursor: pointer;
}

#main {
  padding-top: 115px;
}

.d-inline-block {
  display: inline-block;
}
.d-inline {
  display: inline;
}
.btn1 {
  cursor: pointer;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.2px;
  padding: 3px 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #ffffff;
  border: 1px solid #777;
  &:focus {
    outline: none;
  }
}

.w80 {
  width: 80%;
  margin: 0 auto;
}
