// #main {
//   padding-top: 115px;
// }
// .main_content {
//   padding-left: 280px;
// }

.main {
  display: flex;
  width: 100%;
  padding-top: 115px;
  padding: 115px 30px 30px 30px;
  &__content {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.four {
  .mcard {
    transition: all 1s;
    flex: 25%;
    flex-grow: 0;
    flex-shrink: 0;

    // height: 350px;
    // img {
    //   max-height: 250px;
    // }
    // @media screen and (max-width: 2200px) and (min-width: 1400px) {
    //   height: 500px;
    //   img {
    //     max-height: 400px;
    //   }
    // }

    // @media
    // (-webkit-min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi) {

    //     @media screen and (max-width: 2000px) and (min-width: 1200px) {
    //       height: 600px;
    //       img {
    //         max-height: 500px;
    //       }
    //     }
    // }


    figcaption {
      text-align: center;
    }
    &.double {
      flex: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    &.single {

    }
  }
}

.mcard {
  a {
    text-decoration: none;
    color: black;
  }
  position: relative;
  transition: all 1s;
  flex: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  &.double {
    flex: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    a {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }
  &__content {
  }
 figure {
  text-align: center;
  figcaption {
    padding-top: 20px;
    text-align: left;
    p {
      padding: 0;
      margin: 0;
      font-size: 12px;
      &.bold {
        font-weight: bold;
      }
    }
  }
 }
}
