.hs1 {

}
.hs2 {

}
.hs3 {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  .small_sup {
    position: absolute;
    font-size: 9px;
    top: 3px;
    padding-left: 4px;
  }
}

#sidebar_nav {
  // top: 115px;
  // width: 350px;
  // padding: 0 28px 0 20px;
  // padding-left: 80px;
  // background: #fff;
  // overflow-y: scroll;

  // top: 115px;
  // width: 350px;
  // padding: 0 28px 0 20px;
  // padding-left: 80px;
  // background: #fff;
  // overflow-y: scroll;
  // text-align: left;
  // display: flex;
  // justify-content: flex-end;
  min-width: 250px;

  .sidebar_nav_content {
    padding: 20px;
  }
  small {
    font-size: 9px;
    font-weight: normal;
  }
  a {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 2px 0;
    position: relative;
    a {
      text-transform: uppercase;
      font-size: 13px;
      &.special {
        color: $special_color;
      }
      .small_sup {
        position: absolute;
        font-size: 9px;
        top: 3px;
        padding-left: 4px;
      }
    }
  }
}


#info_plus {
  cursor: pointer;
}
.sidebar_info_box {
  display: none;
  &.active {
    display: block;
  }
}
