* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#main {
  padding-top: 115px;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.btn1 {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.2px;
  padding: 3px 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #ffffff;
  border: 1px solid #777;
}

.btn1:focus {
  outline: none;
}

.w80 {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 115px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_left {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_right {
  font-size: .75rem;
  width: 200px;
  height: 100%;
}

header .header_right .header_right_content {
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

header .header_right .header_right_content .hrc_middle_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-bottom: 10px;
}

header .header_right .header_right_content .hrc_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_right .header_right_content .hrc_middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .header_right .header_right_content .hrc_middle ul li#shopping_bag {
  text-align: center;
  background: url(/images/bag3.png?b0f9b2e2157111cdc56e4b6b94403d59) no-repeat center top;
  background-size: contain;
}

header .header_right .header_right_content .hrc_middle ul li {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_right .header_right_content .hrc_middle ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

header .header_right .header_right_content .hrc_middle ul li a:hover {
  font-weight: bold;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper {
  position: relative;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper i {
  cursor: pointer;
  display: block;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper .input_box {
  border: 1px solid #eee;
  background: #fff;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
  position: absolute;
  width: 380px;
  left: -380px;
  height: 40px;
  padding: 5px;
  display: none;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper .input_box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper .input_box input {
  width: 300px;
  padding: 6px 10px;
  outline: none;
  border: none;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper .input_box input:focus {
  outline: none;
  border: none;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper .input_box button {
  padding: 6px 10px;
  background: black;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
}

header .header_right .header_right_content .hrc_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_right .header_right_content .hrc_bottom span {
  display: inline-block;
  padding: 0 6px;
}

header .header_right .header_right_content .hrc_bottom span.active {
  font-weight: bold;
}

header .header_right .header_right_content .hrc_bottom #filter_button {
  cursor: pointer;
}

#sidebar_nav {
  top: 115px;
  position: fixed;
  width: 280px;
  padding: 0 28px;
  padding-left: 80px;
  background: #fff;
  overflow-y: scroll;
}

#sidebar_nav .sidebar_nav_content {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

#sidebar_nav a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

#sidebar_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar_nav li {
  padding: 7px 0;
}

#sidebar_nav li a {
  text-transform: uppercase;
  font-size: 13px;
}

.main_content {
  padding-left: 280px;
}

.filter_box {
  position: fixed;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  top: 115px;
  padding-top: 20px;
  left: 0;
  right: 0;
  background: white;
  z-index: 2;
  display: none;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.filter_box.active {
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 1;
  display: block;
}

.filter_box .filter_box_inner {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.filter_box .filter_column_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter_box .filter_column_wrapper .filter_column {
  text-align: left;
  padding: 0 20px;
}

.filter_box .filter_column_wrapper .filter_column h4 {
  color: #000;
  font-weight: normal;
  font-size: .75rem;
  margin: 0;
  padding: 0 0 10px 0;
}

.filter_box .filter_column_wrapper .filter_column li {
  list-style-type: none;
}

.filter_box .filter_column_wrapper .filter_column li a {
  color: #999;
  font-size: .75rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  display: block;
  position: relative;
}

.filter_box .filter_column_wrapper .filter_column li a.selected {
  color: #000;
}

.filter_box .filter_column_wrapper .filter_column li a.selected:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F105";
  font-size: 12px;
  display: inline-block;
  position: absolute;
  left: -10px;
  color: #000;
}

.filter_box .filter_column_wrapper .filter_column li a:hover {
  color: #000;
}

.filter_box .filter_buttons {
  text-align: left;
  padding: 10px 20px;
}

.filter_box .filter_buttons h4 {
  font-size: .75rem;
  font-weight: normal;
  color: #222;
}

.filter_box .filter_buttons .filter_buttons_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

