* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#main {
  padding-top: 115px;
}

header {
  height: 115px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_left {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_right {
  font-size: .75rem;
  width: 200px;
  height: 100%;
}

header .header_right .header_right_content {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

header .header_right .header_right_content .hrc_middle_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-bottom: 10px;
}

header .header_right .header_right_content .hrc_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_right .header_right_content .hrc_middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .header_right .header_right_content .hrc_middle ul li#shopping_bag {
  text-align: center;
  background: url(/images/bag.svg?8d3129d0211103b6bda4d66875407456) no-repeat center center;
}

header .header_right .header_right_content .hrc_middle ul li {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_right .header_right_content .hrc_middle ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper {
  position: relative;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper i {
  cursor: pointer;
  display: block;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper .input_box {
  border: 1px solid #eee;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
  position: absolute;
  width: 380px;
  left: -380px;
  height: 40px;
  padding: 5px;
  display: none;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper .input_box.active {
  display: block;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper .input_box input {
  width: 300px;
  padding: 6px 10px;
  outline: none;
  border: none;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper .input_box input:focus {
  outline: none;
  border: none;
}

header .header_right .header_right_content .hrc_middle ul li .input_box_wrapper .input_box button {
  padding: 6px 10px;
  background: black;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
}

header .header_right .header_right_content .hrc_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_right .header_right_content .hrc_bottom span {
  display: inline-block;
  padding: 0 6px;
}

header .header_right .header_right_content .hrc_bottom span.active {
  font-weight: bold;
}

header .header_right .header_right_content .hrc_bottom #filter_button {
  cursor: pointer;
}

